@use 'variaveis';


@mixin textoCenter(){
    text-align: center;
}

.classificacao{



    &__container{
        

        &__icon{
           
            @media (max-width: 768px) {
            @include textoCenter();
              
            }

            h5{
                color: yellow;
                 margin-left: 14px;

                @media (max-width: 768px) {
                    margin-left: 0;
                      
                    }
            }



        }


        &__links{

            display: flex;
            justify-content: space-around;
            margin-bottom: 48px;

            @media (max-width: 768px) {
            display: block;
            @include textoCenter();
            
            
            }



            &__item{
                padding: 16px;
                margin-top: 6px;

                @media (max-width: 768px) {
                    display: block;
                    margin-bottom: 24px;
                    @include textoCenter();
            
                }


                span{
                    border: 1px solid variaveis.$corDoTexto;
                    padding: 4px;
                    border-radius: 4px;
                    

                }


            }
        }
    }


}