@use 'variaveis';

.saiba-mais{


    &__links{
        align-items: center;
        

        &__item{



            div{
                border: none;
                padding: 16px;
                font-size: 18px;
                text-transform: uppercase;
                background-color: variaveis.$corDeFundo;
                cursor: pointer;
                display: flex;
                justify-content: center;
    
                &:hover{
                    border-radius: 4px;
                    background-color: lighten(variaveis.$corDeFundo, 3%);
                }

                

        }
    }
}
}